:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mat-button.mat-primary{
    color: white !important;
    background: #673ab7 !important;
}